body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(158, 3, 254);
}
header{
    background-color: rgb(106, 15, 129);
    padding: 1em;
    border-radius: 5px;
}
h1{
    display: inline;
    color: white;
    text-shadow: 5px 7px 2px black;
    border:blue;
}
a{
    text-decoration: none;
    background-color: rgba(255, 255, 255,0);
}
a.iman{
    text-decoration: none;
    font-size: 24px;
    background-color: rgba(255, 255, 255,0.6);
    color: rgba(0, 0, 0, 0.6);
    padding: 0.3em 0.5em;
    border-radius: 5px;
    transition: background-color 0.5s linear;
}
form{
    display: inline;
    float: right;
    padding: 0.3em 0.5em;
}
label{
    font-size:24px;
    font-weight: bold;
    color: white;
}
button, input{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    border-radius: 5px;
    transition: background-color 0.5s linear;
    cursor: pointer;
}
a:hover, input:hover, button:hover,
a:focus, input:focus, button:focus {
	background-color:#fff;
}
a:focus, input:focus, button:focus{
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
    outline: 0;
}
img{
    width: 500px;
    height: auto;
    border-radius: 15px;
}
.container{
    margin-top: 70px;
    width:1000px;
    padding: 70px;
    background-color: rgb(165, 38, 101);
    border-radius: 25px;
    margin:auto;
}
h2{
    display:inline;
    color:white;
   
}